.decorGrid-container {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  margin-top: 90px;
  height: 650px;
}

.decorGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  list-style-type: none;
  margin-left: -27.5px;
  margin-right: 7.5px;
  margin-top: -80px;
}

.decorGrid li {
  display: flex;
  justify-content: center;
  align-items: center;
}
