/* CurrentProjectCard.css */
.current-project-card {
  width: 300px;
  border-radius: 25px;
  margin-bottom: 50px;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #2A7676;
  box-shadow: 
    0 0 15px #0000001a,
    inset 0 0 20px #40767696;
}

.current-project-card img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  padding: 17.5px;
}

.current-project-card button {
  position: relative;
  background-color: #f5c873;
  color: #164343;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer; 
  font-size: 20px;
  margin-bottom: -5px;
}