.DecorItem-Container {
  position: absolute;
  margin-top: 220px;
  width: 100%;
  height: 325px;
  transform: translate(-4.5%);
  
}

.DecorItem-Row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding-left: 45px;
  padding-right: 10px;
  max-height: 60px;
}

.DecorItem-Wrapper {
  display: flex;
  justify-content: center;
  width: 40px;

}

.DecorItem {
  width: 100%;
  height: auto;
}

.Carousel-Container {
  margin-top: 145px;
  margin-right: 1px;
  height: 420px;
  width: 100%;
  border-radius: 25px;
  background: #265d5e;
  box-shadow:
    0 0 7.5px #0000005f,
    inset 0 0 10px #3f7676d2;
}

.Carousel-Button {
  position: absolute;
  background-color: transparent;
  border-width: 0px;
  font-size: xx-large;
}

.Carousel-Left {
  left: 0;
}

.Carousel-Right { 
  right: 0;
}

.Carousel-Title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  color: #FDCE78;
  /* background-color: #265d5e; */
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
  /* border-radius: 10px; */
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hidden {
  display: none;
}