.image-container {
  width: 100%;
  /* flex-wrap: wrap; */
  position: absolute;
  /* overflow-y: scroll; */
  height: 100%;
}

.image {
  /* height: 110px; */
  /* resize: both;
  overflow: auto; */
  position: relative;
}

body {
  /* disables page scroll */
  overflow: hidden;
}

.back-button {
  position: absolute;
  top: 10%;
  left: 7.5%;
  transform: translateY(-50%);
  border-width: 0px;
  background-color: transparent;
  font-size: 2em;
}

/* WALL COLOR (DROPDOWN) STUFF */
.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
}
