body {
  /* disables page scroll */
  overflow: hidden;
}

.top-row {
  margin-top: -35px;
}

.top-row-icon-enabled {
  color: black;
}

.top-row-icon-disabled {
  color: #00000065;
}

.back-button {
  position: absolute;
  top: 10%;
  left: 1.25%;
  transform: translateY(-50%);
  border-width: 0px;
  background-color: transparent;
  font-size: 2em;
}

/* WALL COLOR DROPDOWN STUFF */
.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

/* COLOR PICKER STUFF */
#HexColorPicker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  z-index: 9999; /* ensures HexColorPicker is displayed above any DecorItems */
}

