#logo {
  display: block;
  margin: 75px auto 0;
  padding-left: 2.5px;
  padding-bottom: 62.5px;
  width: 300px;
}

.homepage-button-container {
  text-align: center; 
  margin: -40px auto 0; 
}

.new-project-button {
  position: relative;
  background-color: #f5c873;
  color: #164343;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  border-radius: 20px;
  padding: 5px 10px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
  font-size: 20px;
  margin-top: 25px;
}