.TopHeader {
  color: #FDCE78;
  font-size: 45px;
}

.galleryText {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 50px;
  margin-left: 40px;
}

.buttonContainer {
  display: flex;
  align-items: center; 
  margin-left: 65%;
  margin-bottom: -450px;
  margin-top: -50px;
}

.iconButton {
  cursor: pointer;
  position: fixed;
  right: 0;
  margin-right: 40px;
  font-size: 40px;
}