.TopHeader {
    color: #FDCE78;
    font-family: 'Ramaraja', sans-serif;
    font-size: 50px;
}

.galleryText {
  padding-top: 25px;
  margin-left: 25px; 
}

.buttonContainer {
  display: flex;
  align-items: center; 
  margin-left: 65%;
  margin-bottom: -450px;
  margin-top: -50px;
}

.buttonSelect {
  background-color: #FDCE78;
  color: #164343;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-radius: 90px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: -30px;

}

.iconButton {
  cursor: pointer;
  margin-top: -45px;
  margin-left: 15px;
}