.TopHeader {
  color: #FDCE78;
  font-size: 45px;
}

.galleryText {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-top: 50px;
  margin-left: 40px;
}

.buttonContainer {
  display: flex;
  align-items: center; 
  margin-left: 65%;
  margin-bottom: -450px;
  margin-top: -50px;
}

.buttonSelect {
  background-color: #FDCE78;
  color: #164343;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-radius: 90px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.iconButton {
  cursor: pointer;
  font-size: 40px;
  margin-top: -37.5px;
  margin-left: 60px;
}