.settings-button {
  position: absolute;
  right: 7.5%;
  top: 10%;
  transform: translateY(-50%);
  border-width: 0px;
  background-color: transparent;
  font-size: 2em;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-button {
  background-color: #2A7676;
  height: 40px;
  width: 40px;
  border-radius: 7px;
  border-width: 0px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.314);
}

.sidebar-button-disabled {
  /* make buttons have a lighter color than default */
  background-color: #5d8f8f;
}

.sidebar-icon {
  color: white;
  font-size: 2em;
  padding-right: 4px;
}