.settings-button {
  position: absolute;
  right: 1.25%;
  top: 10%;
  transform: translateY(-50%);
  border-width: 0px;
  background-color: transparent;
  font-size: 2em;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 7.5px;
}

.sidebar-button {
  background-color: transparent;
  border-width: 0px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.sidebar-icon-enabled {
  color: #2A7676;
}

.sidebar-icon-disabled {
  color: #267a7a8c;
}