.TopHeader {
  color: #FDCE78;
  font-size: 45px;
  padding-bottom: 10%;
}

.projectText {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 50px;
  margin-left: 40px; 
}

.buttonContainer {
  display: flex;
  align-items: center; 
  margin-left: 65%;
  margin-top: -70px;
}

.button {
  background-color: #FDCE78;
  color: #164343;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-radius: 90px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-icon {
  cursor: pointer;
  position: fixed;
  right: 0;
  margin-top: 42.5px;
  margin-right: 40px;
  font-size: 37.5px;
}

.folderGrid-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  margin-top: 100px; 
  margin-left: -30px;
}

.folderGrid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr); 
  list-style-type: none;
  justify-content: space-around;
  grid-gap: 30px;
}

.folderGrid li {
  margin-top: 10px; 
  font-family: 'Palanquin Dark', sans-serif;
  color: whitesmoke;
  text-align: center; 
}

.folder-icon {
  fill: #82BFBF; 
}

.folder-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}